.container {
  background-image: url(../../assets/wall-bookshelf.png);
  background-repeat: no-repeat;
  background-position-y: 200%;
}
@media (max-width: 1380px) {
  .container {
    background-size: 50%;
    background-position-y: 100%;
  }
}
.projectEntryImage {
  width: 100px;
  margin-bottom: 5rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
