.container {
  background-image: url(../../assets/wall-bookshelf.png);
  background-repeat: no-repeat;
  background-position-y: 100%;
  background-position-x: center;
  display: flex;
  justify-content: space-evenly;
  background-size: 90%;
}
@media (max-width: 1430px) {
  .section-container {
    margin: 5rem;
    padding: var(--container-padding);
  }
}
@media (max-width: 780px) {
  .section-container {
    margin: 1rem;
  }
}
.subtitle {
  text-align: right;
  max-width: 70%;
}
.projectEntryImage {
  width: 10%;
  margin-bottom: 12%;
  margin-left: 2rem;
  margin-right: 2rem;
  transition: width ease-in;
}
.projectEntryImage:hover {
  cursor: pointer;
}
