.contactContainer {
    width: 60%;
    margin: 0 auto;
}

@media (width < 815px) {
    .contactContainer {
        margin: 0 auto;
        width: 80%;
    }
}

.titleContainer {
    border-left: solid 0.5mm var(--black-light);
    padding-left: 60px;
}

@media (max-width: 1430px) {
    .titleContainer {
        margin-left: 5rem;
        margin-right: 5rem;
        padding: var(--container-padding);
    }
}

@media (max-width: 780px) {
    .titleContainer {
        margin: 1rem;
    }
}

.title {
    font-size: 2.5rem;
    color: #333;
}

.formContainer {
    background: radial-gradient(circle, #fff6e3bd 40%, #b97836 100%);
    border: 1px solid #d4a373;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    font-family: 'Times New Roman', Times, serif;
    color: #5b4636;
    overflow: hidden;
    max-width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
}

/* .formContainer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, transparent 60%, rgba(0, 0, 0, 0.2) 100%);
    pointer-events: none;
    border-radius: 10px;
} */

.formGroup {
    margin-bottom: 1.5rem;
}

.label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: #333;
    /* Adjust color to fit your theme */
}

.input,
.textarea {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.textarea {
    resize: vertical;
    min-height: 120px;
}

.submitButton {
    background-color: #d4a373;
    color: white;
    border: none;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    font-family: "kanit", sans-serif;
    transition: background-color 0.3s ease;
    margin: 0 auto;
    width: 100px;
}

.submitButton:hover {
    background-color: #ba8b5a;
}