:root {
  padding: 0%;
  --blue-light: #90fcf9;
  --blue: #63b4d1;
  --blue-dark: #7699d4;
  --violet: #9448bc;
  --violet-dark: #480355;
  --black-light: #414a4c;
  --black-olive: #373734;
  --container-padding: 0.8rem;
}

/* Designing for scroll-bar */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(230, 230, 230, 0.7);
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--black-light);
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6d6d6d;
}

::selection {
  background-color: var(--blue-light);
}

body {
  scrollbar-color: red;
  margin: 0;
}

.container-max-width {
  max-width: 1280px;
  margin: 0 auto;
}

.container-max-width-wider {
  max-width: 1360px;
  margin: 0 auto;
}

.hero-container-max-width {
  max-width: 1400px;
  margin: 0 auto;
}

.italic-title {
  font-weight: bold;
  font-style: italic;
  font-size: 55px;
  color: var(--black-light);
  margin: 0rem;
}

.right-text {
  text-align: right;
}

.section-container-border-left {
  border-left: solid 0.5mm var(--black-light);
  padding-left: 60px;
}

.section-container-border-right {
  border-right: solid 0.5mm var(--black-light);
  padding-right: 60px;
  margin-bottom: 10rem;
}

.right-section-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

li {
  list-style: none;
  color: black;
}

a {
  text-decoration: none;
}

p {
  font-family: "kanit", sans-serif;
  font-weight: 400;
}

.sticky {
  position: fixed;
  width: 100%;
  backdrop-filter: blur(10px);
}

.loader {
  width: 6px;
  height: 6px;
  border-radius: 40%;
  display: inline-block;
  margin: 0 auto;
  /* position: relative; */
  color: #FFF;
  box-sizing: border-box;
  animation: animloader 1s linear infinite alternate;
}

@keyframes animloader {
  0% {
    box-shadow: -38px -6px, -14px 6px, 14px -6px;
  }

  33% {
    box-shadow: -38px 6px, -14px -6px, 14px 6px;
  }

  66% {
    box-shadow: -38px -6px, -14px 6px, 14px -6px;
  }

  100% {
    box-shadow: -38px 6px, -14px -6px, 14px 6px;
  }
}