  .container {
    padding: var(--container-padding);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 5%;
  }

  .hero-text-container {
    padding-top: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @media only screen and (min-width: 769px) {
    .container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

    .svg-container {
      flex: 1;
    }
  }

  @media screen and (max-width: 769px) {
    .hero-title {
      margin: 0;
      padding-top: 10%;
    }
  }

  .heroImage {
    width: 88%;
  }

  .hero-title {
    font-weight: lighter;
    font-size: 100px;
    color: var(--black-light);
    line-height: 90px;
  }

  .styled-point {
    color: var(--violet);
  }

  .name {
    font-weight: bold;
    font-style: italic;
  }

  .description {
    font-size: 26px;
    font-weight: 500;
    color: var(--black-light);
  }

  .role {
    color: var(--blue);
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }

  .role::selection {
    background-color: var(--violet-dark);
  }

  .resumeButton {
    height: 2.5rem;
    width: 10rem;
    border: none;
    box-shadow: 0.7px 0.7px 2px 0.2px rgba(0, 0, 0, 0.404);
    border-radius: 100px;
    background-color: chocolate;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    padding-left: 7rem;
    padding-right: 7rem;
    margin-left: 8px;
  }

  .resumeButton p {
    font-size: 24px;
    font-weight: 300;
    transition: transform 0.3s ease-in-out;
  }

  .resumeButton img {
    width: 30px;
    transition: transform 0.3s ease-in-out;
  }

  .resumeButton:hover {
    cursor: pointer;
  }

  .resumeButton:hover img {
    transform: translateY(-5px);
  }

  .resumeButton:hover p {
    transform: translateY(-1px);
  }