.container {
  padding: var(--container-padding);
}
.hero-title {
  font-weight: lighter;
  font-size: 100px;
  color: var(--black-light);
  line-height: 90px;
}
.styled-point {
  color: var(--violet);
}
.name {
  font-weight: bold;
  font-style: italic;
}
.description {
  font-size: 28px;
  font-weight: 500;
  color: var(--black-light);
}
.role {
  color: var(--blue);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.role::selection {
  background-color: var(--violet-dark);
}
